@import "tailwindcss";


body {
  font-family: Inter, system-ui, sans-serif;
  background-color: #f5f5f5;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}